<div class="col-md-3">
    <div class="photo photo-type-line">
        <a href="img/img10.jpg" class="photo-hover" data-lightbox="img" data-title="Data Title">
            <div class="photo-info">
                <div class="headline">Headline</div>
                <div class="line"></div>
                <div class="decs">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </div>
            <div class="mask"></div>
        </a>
        <div class="photo-img"><img src="img/img10.jpg"></div>
    </div>
</div>