<nav class="navbar active navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand menu-name" href="<%= root_path%>">rGalley</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link menu-name" href="<%= root_path%>">Home</a>
                </li>
            </ul>
            <div class="navbar-nav">
            <% defualt_action="index"
            partial_path = "partials/nav_partials/"+params[:controller]+"/"+params[:action]+"_"+params[:controller]+"_partial"
            rescue_path = "partials/nav_partials/"+params[:controller]+"/"+defualt_action+"_"+params[:controller]+"_partial"
            %>
            <%= render partial_path rescue render rescue_path rescue "Can Not Find: ["+rescue_path+"]"%>
            
        </div>
    </nav>